Package: com.dkjone.dkhelper
Name: dkhelper
Version: 1.1.0
Description: 不止于抢红包，功能丰富的微信插件
Section: System
Depends: firmware (>= 5.0), mobilesubstrate
Conflicts:
Replaces:
Priority: optional
Architecture: iphoneos-arm
Author: DKJone
dev:
Homepage: https://github.com/DKJone/DKWechatHelper
Depiction: 不止于抢红包，功能丰富的微信插件(适配8.0.38)
Maintainer:
Icon: